body {
	/*background-image:  url("background.jpg");
	font-family: "calibri";*/
	padding-top: 50px;
}

.pizza_template{
	padding: 40px 15px;
}

.pizza_gomb{
	margin-top: 30px;
}

#pizzaPanel{
	/*display:none;*/
}

/*#box {
	margin: auto;
	text-align: center;
	background-image: url("wood.jpg");
	background-size: 50%;
	border-radius: 10px;
	border: 3px #800000 solid;
}

#menu {
	background-image: url("wood.jpg");
	background-size: 50%;
	height: 50px;
	margin-top: 5px;
	margin-bottom: 5px;
	border-radius: 10px;
	border: 3px #800000 solid;
	font-size: 25pt;
}

table {
	width: 100%;
	text-align: center;
}

td:hover {
	background-color: rgba(255,255,204,0.4);
	border-radius: 10px;
}

a {
	text-decoration: none;
	color: #FFF;
}

.pizza-form-box{
	text-align: left;
}*/